<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthenticator" />
                <binding name="BasicHttpBinding_IWeather" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/AuthentificationSoapWS/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticator"
                contract="ServiceReference1.IAuthenticator" name="BasicHttpBinding_IAuthenticator" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WeatherInformations/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeather"
                contract="ServiceReference2.IWeather" name="BasicHttpBinding_IWeather" />
        </client>
    </system.serviceModel>
</configuration>